<!DOCTYPE html>
<html>
  <head>
    <title>NYC Population Data</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="/js/data.js"></script>
    <style>
      body {background-size: cover;}
      #viewBox 
      {width: 100%}
      svg 
      {width: 100%}
    </style> 
  </head>
  <body>
    <h1>NYC Population Data:</h1>
    <p> 2010 - 2019</p>
    <br>
    <br>
    <div id="viewBox"></div>
    <script type="text/javascript">
    var window_h = window.innerHeight;
    var window_w = window.innerWidth;
// set the dimensions and margins of the graph
    var margin = {top: 10, right: 40, bottom: 30, left: 30},
    width = window_w - margin.left - margin.right,
    height = window_h - margin.top - margin.bottom;

    var x = d3.scaleBand().rangeRound([0, width]).paddingInner(0.05);

    scaleHeight = d3.scaleLinear()
    .domain([8, 8.5])
    .range([0, height])


// append the svg object to the body of the page
    var svG = d3.select("#viewBox")
      .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)

    svG
      .selectAll("svg")
      .data(data)
      .enter()
      .append("rect")
      .attr('height', function(d){ return scaleHeight(d.value) })
      .attr('width', '20px' )
      .attr("transform", (d, i)=>"translate("+i * 26+",100)")




		  
    </script>

  </body>
</html>
